.bonus-list {
  list-style: none;
  text-transform: uppercase;
  font-style: normal;
  background-color: @white;
  color: @black;
}

.bonus-list__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.bonus-list__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
