.bonus-list {
  text-align: left;
  list-style: none;
  text-transform: uppercase;
  font-style: normal;
  background-color: @white;
  color: @black;
  padding-left: 69px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: auto;
    padding: 100px 40px 60px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    padding: 100px 40px 60px;
  }
}

.bonus-list__name {
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.bonus-list__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.bonus-list__item {
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 200px;

    &:nth-child(2) {
      order: 3;
    }

    &:last-child {
      order: 2;
    }
  }

  @media (min-width: @desktop-width) {
    width: 300px;
  }
}

.bonus-list__item--house {
  background-image: url("../img/icon-house.svg");
}

.bonus-list__item--gift {
  background-image: url("../img/icon-gift.svg");
}

.bonus-list__item--burger {
  background-image: url("../img/icon-burger.svg");
}
