.bonus-list {
  position: relative;
  text-align: left;
  list-style: none;
  text-transform: uppercase;
  font-style: normal;
  background-color: @white;
  color: @black;
  padding-left: 69px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    height: 320px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    //padding: 100px 40px 60px;
  }
}

// .bonus-list li {
//   position: relative;
//   width: 100%;
// }

.bonus-list__name {
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.bonus-list__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.bonus-list__item {
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    padding-top: 60px;
    width: 180px;

    &:nth-child(2) {
      order: 3;
    }

    &:last-child {
      order: 2;
    }
  }

  @media (min-width: @desktop-width) {
    width: 300px;
  }
}

.bonus-list__item--house {
  //display: block;
  //position: absolute;
  //left: -50px;
  background-image: url("../img/icon-house.svg");
  //background-position: -40px -20px;

  @media (min-width: @tablet-width) {
    background-position: top;
    position: relative;
    top: 60px;
  }
}

.bonus-list__item--gift {
  background-image: url("../img/icon-gift.svg");

  @media (min-width: @tablet-width) {
    background-position: top;
    position: relative;
    top: 60px;
  }
}

.bonus-list__item--burger {
  background-image: url("../img/icon-burger.svg");

  @media (min-width: @tablet-width) {
    background-position: top;
    position: relative;
    top: 60px;
  }
}
