.booking__button {
  background: #81b3d2;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px;
  margin: 40px 10px;
}
