.content {
  color: @gray;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  padding-top: 10px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  padding-left: 155px;
  padding-right: 155px;
  padding-bottom: 30px;
}

@media (min-width: @desktop-width) {
  padding-left: 370px;
  padding-right: 370px;
  padding-bottom: 67px;
}
