.content {
  color: @gray;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}
