.features {
  background: #ffffff;
}

.features__list {}

.features__item {
  margin-top: 20px;
  background: #eeeeee;
}

.features__item:first-child {
  background: #81b3d2;
  color: #ffffff;
}

.features__item:nth-child(2) {
  background: #81b3d2;
  color: #ffffff;
}

.features__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.features__motto {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.bonus-list {
  list-style: none;
  text-transform: uppercase;
  font-style: normal;
  background: #ffffff;
  color: #000000;
}

.bonus-list__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.bonus-list__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
