.feedback {
  font-style: normal;
}

.feedback__legend {
  color: @black;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.feedback__radio-list ul {

}

.feedback__textarea {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @black;
  background-color: #f2f2f2;
}

.feedback__button {
  width: 280px;
  height: 58px;
  margin-top: 30px;
  background-color: @blue;
  border: 0px solid @white;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
}
