.main-nav {
  background-color: @blue;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    background-color: @white;
    display: flex;
    justify-content: space-between;
    //flex-direction: row;
    margin: 0 auto;
  }

  .main-nav button {
    display: none;
  }
}
