.main-nav {
  background-color: @blue;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    height: 56px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .main-nav button {
    display: none;
  }
}
