.page-header {
  margin: 0;
  padding: 0;
  background-color: @white;
}

.page-header__promo--big {
  width: auto;
  height: 389px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.page-header__promo--small {
  width: auto;
  height: 200px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.page-header__logo {
  text-align: center;
}

.page-header__logo img {
  width: 320px;
  height: 84px;
}
