.page-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  //padding: 0;
  background-color: @white;
}

.page-header__logo {
  height: 85px;
  margin-left: auto;
  margin-right: auto;
}

.page-header__promo img {
  display: block;
  padding-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .page-header__promo img {
    width: 460px;
  }
}

.page-header__promo {
  background-color: #81a8c8;
  background-repeat: no-repeat;
}

.page-header__promo--big {
  height: 389px;
  //background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-image: url("../img/bg-back-tablet@1x.jpg");
  background-size: cover;
}

@media (min-width: @tablet-width) {
  .page-header__promo--big {
    height: 518px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
  }
}

.page-header__promo--small {
  height: 214px;
  width: auto;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  margin-bottom: 50px;
}
