.page {
  height: 100%;
  background-color: @white;
  font-family: @font;
  //margin: 0 auto;
  //min-width: 320px;
  //outline: 2px solid rgba(255, 0, 0, 0.8);
  //outline-offset: -5px;
}

.page__body {
  min-height: 100%;
  min-width: 320px;
  //margin: 0 auto;
  //outline: 2px solid rgba(255, 0, 0, 0.8);
  //outline-offset: -5px;
}
