.page-footer {
  background: #ffffff;
}

.page-footer__hashtag {
  margin: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.page-footer a {
  color: #000000;
}

.visually-hidden {
  display: none;
}

.social {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link a {
  color: #000000;
}

.copyright__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.copyright__link a {
  position: absolute;
  left: 61.56%;
  right: 30.03%;
  top: 98.42%;
  bottom: 0.63%;
}

.social__link {
  display: inline-block;
  margin-left: 25px;
  vertical-align: middle;
}

.social__link--twitter {
  background-repeat: no-repeat;
  background-image: url("..img/icon-twitter.svg");
}
