.page-header {
  margin: 0;
  padding: 0;
  background-color: @white;
}

page-header__promo {
  width: 320px;
  height: 350px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}
