.photo {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}

.photo__title {
  font-weight: bold;
  color: @black;
}

.photo__likes {
  font-weight: bold;
  text-transform: uppercase;
  color: @black;
}

.photo__author {
  font-weight: normal;
  text-transform: none;
  color: #333333;
}

.photo__like-icon {
  position: absolute;
  left: 6.25%;
  right: 86.56%;
  // top: 32.99%;
  // bottom: 66.31%;
  height: 30px;
  width: 35px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: center;
}
