.photo {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  padding: 0 20px;
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 60px;
  }
  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.photo__item {
  padding-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: @tablet-width) {
    //width: auto;
    padding-top: 0;
    background-color: @field;
    margin: 0;
    //width: 324px;
    //height: 347px;
    &:not(.photo-item--wide):nth-of-type(odd) {
      //background-color: #eaeaea;
    }
  }
  @media (min-width: @desktop-width) {
    //width: auto;
    padding-top: 0;
    background-color: transparent;
    margin: 0;
  }
}

.photo__item img {
  @media (min-width: @tablet-width) {
    width: 324px;
    height: 267px;
  }
  @media (min-width: @desktop-width) {
    width: 400px;
    height: 267px;
    padding: 0;
  }
}

.photo__item--wide img {
  @media (min-width: @tablet-width) {
    width: 648px;
    height: 400px;
    margin: 0;
  }
  @media (min-width: @desktop-width) {
    width: 1200px;
    height: 400px;
  }
}

.photo__item a {
  height: 280px;
  display: block;
  background-color: #c5b0af;

  @media (min-width: @tablet-width) {
    height: 267px;
    margin: 0;
  }
}

.photo__item--wide a {
  @media (min-width: @desktop-width) {
    height: 400px;
}
}

.photo__title {
  font-weight: bold;
  color: @black;
  @media (min-width: @tablet-width) {
    padding-left: 20px;
  }
  @media (min-width: @desktop-width) {
    padding-left: 21px;
  }
}

.photo__author {
  font-weight: normal;
  text-transform: none;
  color: @gray;
  @media (min-width: @tablet-width) {
    padding-left: 20px;
  }
  @media (min-width: @desktop-width) {
    padding-left: 21px;
  }
}

.photo__like-btn button {
  display: inline;
  vertical-align: bottom;
  height: 30px;
  width: 30px;
  padding: 0;
  margin-left: -3px;
  background-color: @white;
  border: 0 solid @white;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.photo__likes {
  padding-left: 5px;
  font-weight: bold;
  color: @black;
}
