.site-list {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  list-style: none;
  border: @white;
}

.site-list__item li {
  background: #81b3d2;
}

.site-list__item a {
  background: @blue;
  color: @white;
  text-decoration: none;
  padding: 9px 40px;
  border-bottom: 1px solid #81b6d2;
}

.site-list__item a:hover {
  background-color: @blue-hover;
}

.site-list__item a:active {
  color: lighten(@blue-down, 20%);
  background-color: @blue-down;
}
